.body-div {
  background-image: url("../image/background.png");
  background-size: 100% 100%;
  /* padding:100px 0; */
}

.logo-title {
  font-family: "Source Code Pro";
}

.top-title {
  /* width: 100%; */
  /* height: 80%; */
}

.top-button {
  font-family: 'Bahnschrift';
  width: 80%;
  height: 60px;
  text-align: center;
  color: white;
  /* font-size: 22px; */
  font-weight: 400;
  font-style: normal;
  /* padding-top: 15px; */
  position: relative;
  z-index: 0;
}

@media only screen and (min-width: 768px) and (max-width: 900px){
   .connect-button {
    padding: 0px 0px !important;
   }
}

@media only screen and (min-width: 640px) and (max-width: 670px){
   .info-title {
    font-size: 28px  !important;
   }
   .buy-button {
    margin-top: 100px !important;
   }
}

.top-button:before {
  aspect-ratio: 1;
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 3px;
  border-radius: 30px;
  background: linear-gradient(to right, rgba(209, 228, 255, 1), rgba(142, 183, 238, 0), rgba(80, 140, 221, 1));
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  height: 100%;
  width: 100%;
}


.top-button:hover {
  color: red;
}

.solana-div {
  position: absolute;
  /* top: 150px; */
  /* width: 80%; */
  /* height: 55%; */
  /* margin: -3% 3% 0 10%;   */
  background-image: url("../image/solanalogo.png");
  background-size: 100% 100%;
  pointer-events: none;
  margin: -3% 0px 0px -6%;
  width: 110%;
  /* z-index: 0; */
}

.main-div {
  /* width: 70%; */
  align-items: center;
  /* height: 78%; */
}

.jackpot-div:before {
  aspect-ratio: 1;
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 3px;
  border-radius: 30px;
  background: linear-gradient(to right, rgba(209, 228, 255, 1), rgba(142, 183, 238, 0), rgba(80, 140, 221, 1));
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  height: 100%;
  width: 100%;
}

.jackpot-div {
  background-size: 103% 100%;
  width: 100%;
  height: 70%;
  margin-top: 10px;
  position: relative;
  z-index: 0;
}

.jackpot-title {
  font-family: 'Bahnschrift';
  color: white;
  font-weight: 400;
  /* font-size: 50px; */
  /* margin-top: 5vh; */
  /* padding-left: 80px; */
}

.sol-title {
  font-family: 'Bahnschrift';
  color: white;
  font-weight: 700;
  /* font-size: 70px; */
  /* padding-left: 80px */
}

.buy-button {
  font-family: 'Bahnschrift';
  /* width: 120px; */
  /* height: 60px; */
  text-align: center;
  color: white;
  /* font-size: 26px; */
  font-weight: 400;
  font-style: normal;
  /* padding-top: 10px; */
  /* margin-left: 80px; */
  /* margin-top: 12vh; */
  /* border: 3px solid rgba(77, 131, 201, 1);
  border-radius: 30px;
  background: transparent; */
  background: url("../image/avatarbackground.png") padding-box fixed,
              linear-gradient(to right, rgba(209, 228, 255, 1), rgba(142, 183, 238, 0), rgba(80, 140, 221, 1)) border-box;
  border-radius: 30px;
  border: 3px solid transparent;
}

.buy-button:hover {
  /* background: url("../image/avatarbackground.png") padding-box fixed,
              linear-gradient(to right, rgba(209, 228, 255, 1), rgba(142, 183, 238, 0), rgba(80, 140, 221, 1)) border-box;
  border-radius: 30px;
  border: 3px solid transparent; */
  color: red;
}

.hologram {
  /* position: absolute; */
  /* right:10px; */
  content: url("../image/hologram.png");
  /* z-index: 4; */
  /* width: 85%; */
  /* height: 90%; */
  /* margin-left: 90px; */
  /* float: right; */
}

.info-total-div {
  /* height: 33%; */
}

.info-div {
  color: white;
  border-radius: 30px;
  /* padding: 10% 0 0 30px;
  border: 4px solid rgba(77, 131, 201, 1); */
  background-color: rgba(255,255,255, 0.1);
  position: relative;
  z-index: 0;
}

.info-div:before {
  aspect-ratio: 1;
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 3px;
  border-radius: 30px;
  background: linear-gradient(to right, rgba(209, 228, 255, 1), rgba(142, 183, 238, 0), rgba(80, 140, 221, 1));
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  height: 100%;
  width: 100%;
}

.info-title {
  font-family: 'Bahnschrift';
}

.deps-title {
  font-family: 'Bahnschrift';
  color: #5692E1;
}

